<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-background-upload" version="1.1.0">
    <name>Cordova Background Upload Plugin</name>
    <description>Background Upload plugin for Cordova</description>
    <license>ISC</license>
    <keywords>cordova,background,file,download</keywords>
    <js-module src="www/FileTransferManager.js" name="FileTransferManager">
        <clobbers target="FileTransferManager" />
    </js-module>
    <platform name="android">
        <framework src="com.squareup.okhttp3:okhttp:4.10.0" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileTransferBackground">
                <param name="android-package" value="com.spoon.backgroundFileUpload.FileTransferBackground" />
            </feature>
			<feature name="NetworkMonitor">
                <param name="android-package" value="com.spoon.backgroundFileUpload.NetworkMonitor" />
            </feature>
			<feature name="UploadState">
                <param name="android-package" value="com.spoon.backgroundFileUpload.UploadState" />
            </feature>
			<feature name="FileTransferSettings">
                <param name="android-package" value="com.spoon.backgroundFileUpload.FileTransferSettings" />
            </feature>
			<feature name="ConnectionStatusListener">
                <param name="android-package" value="com.spoon.backgroundFileUpload.ConnectionStatusListener" />
            </feature>

			<feature name="ImmutablePair">
                <param name="android-package" value="com.snatik.storage.helpers.ImmutablePair" />
            </feature>
			<feature name="OrderType">
                <param name="android-package" value="com.snatik.storage.helpers.OrderType" />
            </feature>
			<feature name="SizeUnit">
                <param name="android-package" value="com.snatik.storage.helpers.SizeUnit" />
            </feature>

			<feature name="CipherAlgorithmType">
                <param name="android-package" value="com.snatik.storage.security.CipherAlgorithmType" />
            </feature>
			<feature name="CipherModeType">
                <param name="android-package" value="com.snatik.storage.security.CipherModeType" />
            </feature>
			<feature name="CipherPaddingType">
                <param name="android-package" value="com.snatik.storage.security.CipherPaddingType" />
            </feature>
			<feature name="CipherTransformationType">
                <param name="android-package" value="com.snatik.storage.security.CipherTransformationType" />
            </feature>
			<feature name="SecurityUtil">
                <param name="android-package" value="com.snatik.storage.security.SecurityUtil" />
            </feature>

			<feature name="AbstractDiskStorage">
                <param name="android-package" value="com.snatik.storage.AbstractDiskStorage" />
            </feature>
			<feature name="ExternalStorage">
                <param name="android-package" value="com.snatik.storage.ExternalStorage" />
            </feature>
			<feature name="InternalStorage">
                <param name="android-package" value="com.snatik.storage.InternalStorage" />
            </feature>
			<feature name="SimpleStorage">
                <param name="android-package" value="com.snatik.storage.SimpleStorage" />
            </feature>
			<feature name="SimpleStorageConfiguration">
                <param name="android-package" value="com.snatik.storage.SimpleStorageConfiguration" />
            </feature>
			<feature name="Storable">
                <param name="android-package" value="com.snatik.storage.Storable" />
            </feature>
			<feature name="Storage">
                <param name="android-package" value="com.snatik.storage.Storage" />
            </feature>

			<feature name="BodyWriter">
                <param name="android-package" value="net.gotev.uploadservice.http.BodyWriter" />
            </feature>
			<feature name="HttpConnection">
                <param name="android-package" value="net.gotev.uploadservice.http.HttpConnection" />
            </feature>
			<feature name="HttpStack">
                <param name="android-package" value="net.gotev.uploadservice.http.HttpStack" />
            </feature>

			<feature name="OkHttpBodyWriter">
                <param name="android-package" value="net.gotev.uploadservice.okhttp.OkHttpBodyWriter" />
            </feature>
			<feature name="OkHttpStack">
                <param name="android-package" value="net.gotev.uploadservice.okhttp.OkHttpStack" />
            </feature>
			<feature name="OkHttpStackConnection">
                <param name="android-package" value="net.gotev.uploadservice.okhttp.OkHttpStackConnection" />
            </feature>

			<feature name="ContentSchemeHandler">
                <param name="android-package" value="net.gotev.uploadservice.schemehandlers.ContentSchemeHandler" />
            </feature>
			<feature name="FileSchemeHandler">
                <param name="android-package" value="net.gotev.uploadservice.schemehandlers.FileSchemeHandler" />
            </feature>
			<feature name="SchemeHandler">
                <param name="android-package" value="net.gotev.uploadservice.schemehandlers.SchemeHandler" />
            </feature>
			<feature name="SchemeHandlerFactory">
                <param name="android-package" value="net.gotev.uploadservice.schemehandlers.SchemeHandlerFactory" />
            </feature>

			<feature name="BinaryUploadRequest">
                <param name="android-package" value="net.gotev.uploadservice.BinaryUploadRequest" />
            </feature>
			<feature name="BinaryUploadTask">
                <param name="android-package" value="net.gotev.uploadservice.BinaryUploadTask" />
            </feature>
			<feature name="BroadcastData">
                <param name="android-package" value="net.gotev.uploadservice.BroadcastData" />
            </feature>
			<feature name="ContentType">
                <param name="android-package" value="net.gotev.uploadservice.ContentType" />
            </feature>
			<feature name="DefaultLoggerDelegate">
                <param name="android-package" value="net.gotev.uploadservice.DefaultLoggerDelegate" />
            </feature>
			<feature name="HttpUploadRequest">
                <param name="android-package" value="net.gotev.uploadservice.HttpUploadRequest" />
            </feature>
			<feature name="HttpUploadTask">
                <param name="android-package" value="net.gotev.uploadservice.HttpUploadTask" />
            </feature>
			<feature name="HttpUploadTaskParameters">
                <param name="android-package" value="net.gotev.uploadservice.HttpUploadTaskParameters" />
            </feature>
			<feature name="Logger">
                <param name="android-package" value="net.gotev.uploadservice.Logger" />
            </feature>
			<feature name="MultipartUploadRequest">
                <param name="android-package" value="net.gotev.uploadservice.MultipartUploadRequest" />
            </feature>
			<feature name="MultipartUploadTask">
                <param name="android-package" value="net.gotev.uploadservice.MultipartUploadTask" />
            </feature>
			<feature name="NameValue">
                <param name="android-package" value="net.gotev.uploadservice.NameValue" />
            </feature>
			<feature name="Placeholders">
                <param name="android-package" value="net.gotev.uploadservice.Placeholders" />
            </feature>
			<feature name="ServerResponse">
                <param name="android-package" value="net.gotev.uploadservice.ServerResponse" />
            </feature>
			<feature name="UploadFile">
                <param name="android-package" value="net.gotev.uploadservice.UploadFile" />
            </feature>
			<feature name="UploadInfo">
                <param name="android-package" value="net.gotev.uploadservice.UploadInfo" />
            </feature>
			<feature name="UploadNotificationAction">
                <param name="android-package" value="net.gotev.uploadservice.UploadNotificationAction" />
            </feature>
			<feature name="UploadNotificationConfig">
                <param name="android-package" value="net.gotev.uploadservice.UploadNotificationConfig" />
            </feature>
			<feature name="UploadNotificationStatusConfig">
                <param name="android-package" value="net.gotev.uploadservice.UploadNotificationStatusConfig" />
            </feature>
			<feature name="UploadRequest">
                <param name="android-package" value="net.gotev.uploadservice.UploadRequest" />
            </feature>
			<feature name="UploadService">
                <param name="android-package" value="net.gotev.uploadservice.UploadService" />
            </feature>
			<feature name="UploadServiceBroadcastReceiver">
                <param name="android-package" value="net.gotev.uploadservice.UploadServiceBroadcastReceiver" />
            </feature>
			<feature name="UploadServiceSingleBroadcastReceiver">
                <param name="android-package" value="net.gotev.uploadservice.UploadServiceSingleBroadcastReceiver" />
            </feature>
			<feature name="UploadStatusDelegate">
                <param name="android-package" value="net.gotev.uploadservice.UploadStatusDelegate" />
            </feature>
			<feature name="UploadTask">
                <param name="android-package" value="net.gotev.uploadservice.UploadTask" />
            </feature>
			<feature name="UploadTaskParameters">
                <param name="android-package" value="net.gotev.uploadservice.UploadTaskParameters" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="net.gotev.uploadservice.UploadService" android:foregroundServiceType="mediaProjection" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
            <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
        </config-file>
        <source-file src="src/android/FileTransferBackground.java" target-dir="src/com/spoon/backgroundFileUpload" />
		<source-file src="src/android/NetworkMonitor.java" target-dir="src/com/spoon/backgroundFileUpload" />
		<source-file src="src/android/UploadState.java" target-dir="src/com/spoon/backgroundFileUpload" />
		<source-file src="src/android/FileTransferSettings.java" target-dir="src/com/spoon/backgroundFileUpload" />
		<source-file src="src/android/ConnectionStatusListener.java" target-dir="src/com/spoon/backgroundFileUpload" />

        <source-file src="src/com/snatik/storage/helpers/ImmutablePair.java" target-dir="src/com/snatik/storage/helpers" />
        <source-file src="src/com/snatik/storage/helpers/OrderType.java" target-dir="src/com/snatik/storage/helpers" />
        <source-file src="src/com/snatik/storage/helpers/SizeUnit.java" target-dir="src/com/snatik/storage/helpers" />

        <source-file src="src/com/snatik/storage/security/CipherAlgorithmType.java" target-dir="src/com/snatik/storage/security" />
        <source-file src="src/com/snatik/storage/security/CipherModeType.java" target-dir="src/com/snatik/storage/security" />
        <source-file src="src/com/snatik/storage/security/CipherPaddingType.java" target-dir="src/com/snatik/storage/security" />
        <source-file src="src/com/snatik/storage/security/CipherTransformationType.java" target-dir="src/com/snatik/storage/security" />
        <source-file src="src/com/snatik/storage/security/SecurityUtil.java" target-dir="src/com/snatik/storage/security" />

        <source-file src="src/com/snatik/storage/AbstractDiskStorage.java" target-dir="src/com/snatik/storage" />
        <source-file src="src/com/snatik/storage/ExternalStorage.java" target-dir="src/com/snatik/storage" />
        <source-file src="src/com/snatik/storage/InternalStorage.java" target-dir="src/com/snatik/storage" />
        <source-file src="src/com/snatik/storage/SimpleStorage.java" target-dir="src/com/snatik/storage" />
        <source-file src="src/com/snatik/storage/SimpleStorageConfiguration.java" target-dir="src/com/snatik/storage" />
        <source-file src="src/com/snatik/storage/Storable.java" target-dir="src/com/snatik/storage" />
        <source-file src="src/com/snatik/storage/Storage.java" target-dir="src/com/snatik/storage" />

        <source-file src="src/net/gotev/uploadservice/http/impl/HurlBodyWriter.java" target-dir="src/net/gotev/uploadservice/http/impl" />
        <source-file src="src/net/gotev/uploadservice/http/impl/HurlStack.java" target-dir="src/net/gotev/uploadservice/http/impl" />
        <source-file src="src/net/gotev/uploadservice/http/impl/HurlStackConnection.java" target-dir="src/net/gotev/uploadservice/http/impl" />

        <source-file src="src/net/gotev/uploadservice/http/BodyWriter.java" target-dir="src/net/gotev/uploadservice/http" />
        <source-file src="src/net/gotev/uploadservice/http/HttpConnection.java" target-dir="src/net/gotev/uploadservice/http" />
        <source-file src="src/net/gotev/uploadservice/http/HttpStack.java" target-dir="src/net/gotev/uploadservice/http" />

        <source-file src="src/net/gotev/uploadservice/okhttp/OkHttpBodyWriter.java" target-dir="src/net/gotev/uploadservice/okhttp" />
        <source-file src="src/net/gotev/uploadservice/okhttp/OkHttpStack.java" target-dir="src/net/gotev/uploadservice/okhttp" />
        <source-file src="src/net/gotev/uploadservice/okhttp/OkHttpStackConnection.java" target-dir="src/net/gotev/uploadservice/okhttp" />

        <source-file src="src/net/gotev/uploadservice/schemehandlers/ContentSchemeHandler.java" target-dir="src/net/gotev/uploadservice/schemehandlers" />
        <source-file src="src/net/gotev/uploadservice/schemehandlers/FileSchemeHandler.java" target-dir="src/net/gotev/uploadservice/schemehandlers" />
        <source-file src="src/net/gotev/uploadservice/schemehandlers/SchemeHandler.java" target-dir="src/net/gotev/uploadservice/schemehandlers" />
        <source-file src="src/net/gotev/uploadservice/schemehandlers/SchemeHandlerFactory.java" target-dir="src/net/gotev/uploadservice/schemehandlers" />

        <source-file src="src/net/gotev/uploadservice/BinaryUploadRequest.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/BinaryUploadTask.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/BroadcastData.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/ContentType.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/DefaultLoggerDelegate.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/HttpUploadRequest.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/HttpUploadTask.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/HttpUploadTaskParameters.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/Logger.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/MultipartUploadRequest.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/MultipartUploadTask.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/NameValue.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/Placeholders.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/ServerResponse.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadFile.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadInfo.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadNotificationAction.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadNotificationConfig.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadNotificationStatusConfig.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadRequest.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadService.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadServiceBroadcastReceiver.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadServiceSingleBroadcastReceiver.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadStatusDelegate.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadTask.java" target-dir="src/net/gotev/uploadservice" />
        <source-file src="src/net/gotev/uploadservice/UploadTaskParameters.java" target-dir="src/net/gotev/uploadservice" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FileTransferBackground">
                <param name="ios-package" value="FileTransferBackground" />
            </feature>
        </config-file>
        <header-file src="src/ios/AppDelegate+upload.h" />
        <source-file src="src/ios/AppDelegate+upload.m" />
         <header-file src="src/ios/FileTransferBackground.h" />
        <source-file src="src/ios/FileTransferBackground.m" />
         <header-file src="src/ios/FileUploadManager.h" />
        <source-file src="src/ios/FileUploadManager.m" />
    </platform>
</plugin>
